



html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
    color-scheme: light dark;
    height: 100%;
    margin-bottom: 60px;
}

.tabs-content li {
    display: none;
    list-style: none;
}

.tabs-content li.is-active {
    display: block;
}

.pt-grid {
    width: 100%;

    .pt-row {
        display: grid;
        margin-top: 1px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--bulma-border);
        margin-bottom: 1px;
    }

    .pt-row-header {
        font-weight: 700;
        background: var(--panel-background-color);
    }

    .pt-test-overview-row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pt-body {
    height: 100%;
    padding-top: 20px;

    .pt-navigation-container {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .pt-center-container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    .pt-main-content {
        display: grid;
        height: 100%;

        &.pt-has-side-navigation {
            grid-template-columns: 20em 1fr;
        }

        .pt-element-container {
            padding-bottom: 20px;

            table {
                background: transparent;
            }

            .pt-content-panel {
                background: var(--panel-background-color);
                border: 1px solid var(--bulma-border);
                /*border-radius: 10px;*/
                padding: 2em;
            }
        }

        .pt-content-panel {
            padding-top: 5em;
            padding-bottom: 2em;
        }
    }
}

.pt-stats {
    display: inline-grid;
    grid-auto-flow: column;
    overflow-x: auto;

    .pt-stat-item {
        display: inline-grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1rem;
        padding: 1rem 1.5rem;
        border: 1px solid var(--bulma-border);
        border-right: 0;

        .pt-stat-header {
            grid-column-start: 1;
            white-space: nowrap;
        }

        .pt-stat-content {
            grid-column-start: 1;
            white-space: nowrap;
            font-size: 2.25rem;
            line-height: 2.5rem;
            font-weight: 800;
        }

        .pt-stat-footer {
            grid-column-start: 1;
            white-space: nowrap;
            font-size: .75rem;
            line-height: 1rem;
        }

        &:first-of-type {
            border-radius: 10px 0 0 10px;
        }

        &:last-of-type {
            border-radius: 0 10px 10px 0;
            border-right: 1px solid var(--bulma-border);
        }
    }
}

.pt-padding-side {
    padding-left: 10px;
    padding-right: 10px;
}

.pt-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pt-button {
    &.pt-gray-link {
        color: gray;
    }
}


.pt-breadcrumb-panel {
    padding-left: 80px;
    padding-bottom: 0.8rem;
    display: inline-block;
    align-self: self-end;
}

.navbar {
    &.pt-navbar-main {
        /*background-color: var(--bulma-scheme-main-bis) !important;*/
    }
}

.right {
    position: relative;
    float: right;
}

.pt-editor-panel {
    display: grid;
    grid-template-columns: 1fr auto;
}

.pt-collapsible-wrapper {
    input[type='checkbox'] {
        display: none;
    }

    .pt-collapsible-toggle {
        display: block;
        font-weight: bold;
        font-family: monospace;
        font-size: 1.2rem;
        padding: 1rem;
        cursor: pointer;
        transition: all 0.25s ease-out;
    }

    .pt-collapsible-toggle::hover {
        color: #7C5A0B;
    }

    .pt-collapsible-toggle::before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        transform: translateY(-2px);
        transition: transform .2s ease-out;
        margin-top: -3px;
        border: solid currentColor;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .pt-collapsible-content .pt-content-inner {
        padding: .5rem 1rem;
    }

    .pt-collapsible-content {
        padding-top: 15px;
        overflow: hidden;
        max-width: 0px;
        transition: max-width .25s ease-in-out;
    }

    .pt-toggle:checked + .pt-collapsible-toggle + .pt-collapsible-content {
        max-width: fit-content;
    }

    .pt-toggle:checked + .pt-collapsible-toggle::before {
        transform: rotate(-45deg) translateX(-3px);
        margin-top: -9px;
    }

    .pt-toggle:checked + .pt-collapsible-toggle {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.pt-info-panel {
    padding-bottom: 30px;

    b {
        font-weight: 400;
    }
}

.pt-messagebox {
    padding-bottom: 20px;

    .pt-messagebox-header {
        display: grid;
        grid-template-columns: 1fr auto;

        .modal-close {
            position: relative;
            top: auto;
            left: 10px;
        }
    }

    .pt-messagebox-content {
        padding-bottom: 10px;
    }
}

.pt-info-icon {
    color: var(--bulma-link-text);
}

.pt-login-panel {
    margin-top: 20%;
}
